/* Home */

position: relative;
width: 1440px;
height: 4434.77px;

background: #FFFFFF;


/* screencapture-demo-awaikenthemes-html-preview-ulaunch-8-clean-beats-musical-equipment-template-2024-02-02-17_34_04 1 */

position: absolute;
visibility: hidden;
width: 1440px;
height: 4434.77px;
left: 0px;
top: 0px;

background: url(screencapture-demo-awaikenthemes-html-preview-ulaunch-8-clean-beats-musical-equipment-template-2024-02-02-17_34_04);


/* Rectangle 12 */

position: absolute;
width: 1440px;
height: 896.56px;
left: 0px;
top: 0px;

background: #F4F4F4;


/* Rectangle 9 */

position: absolute;
width: 1440px;
height: 1018px;
left: calc(50% - 1440px/2);
bottom: 0px;

background: #333333;


/* Rectangle 9 */

position: absolute;
width: 1440px;
height: 1008px;
left: calc(50% - 1440px/2);
top: 1808.2px;

background: #333333;


/* SOLO BEATS */

position: absolute;
width: 1300px;
height: 318px;
left: calc(50% - 1300px/2 - 3px);
top: 293.08px;

font-family: 'Poppins';
font-style: normal;
font-weight: 900;
font-size: 212px;
line-height: 318px;
/* identical to box height */

color: #FFFFFF;



/* Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type. */

position: absolute;
width: 651.53px;
height: 151.57px;
left: 80.61px;
top: 418.86px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 36px;
/* or 180% */

color: #333333;



/* LATEST FEATURES */

position: absolute;
width: 164px;
height: 36px;
left: 80.21px;
top: 981.04px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 36px;
/* identical to box height, or 180% */

color: #333333;



/* VIEW SPECIFICATION */

position: absolute;
width: 197px;
height: 36px;
left: calc(50% - 197px/2 + 6.04px);
top: 1893.88px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 36px;
/* identical to box height, or 180% */

color: #A1A0A1;



/* CONTACT US */

position: absolute;
width: 127px;
height: 36px;
left: calc(50% - 127px/2);
top: 3501.23px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 36px;
/* identical to box height, or 180% */

color: #A1A0A1;



/* HOME FEATURES SPECFICATION TERMS PRIVACY POLICY */

position: absolute;
width: 553.79px;
height: 36px;
left: calc(50% - 553.79px/2 + 290.38px);
top: 4158.04px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 36px;
/* identical to box height, or 225% */

color: #FFFFFF;



/* | */

position: absolute;
width: 5px;
height: 36px;
left: calc(50% - 5px/2 + 77.1px);
top: 4158.04px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 36px;
/* identical to box height, or 225% */

color: #FFFFFF;



/* | */

position: absolute;
width: 5px;
height: 36px;
left: calc(50% - 5px/2 + 185.59px);
top: 4158.04px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 36px;
/* identical to box height, or 225% */

color: #FFFFFF;



/* | */

position: absolute;
width: 5px;
height: 36px;
left: calc(50% - 5px/2 + 335px);
top: 4158.04px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 36px;
/* identical to box height, or 225% */

color: #FFFFFF;



/* | */

position: absolute;
width: 5px;
height: 36px;
left: calc(50% - 5px/2 + 420.5px);
top: 4158.04px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 36px;
/* identical to box height, or 225% */

color: #FFFFFF;



/* CONTACT */

position: absolute;
width: 99px;
height: 36px;
left: calc(50% - 99px/2 - 262.82px);
top: 4155.11px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 36px;
/* identical to box height, or 180% */

color: #FFFFFF;



/* Clearbeats, Inc.ABC Apt.Sandy, UT 84091-15471-888-659-8244email@domainname.com */

position: absolute;
width: 212px;
height: 120px;
left: calc(50% - 212px/2 - 207.32px);
top: 4208.78px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;

color: #FFFFFF;



/* Copyright © 2023,Clean Beats by Awaiken */

position: absolute;
width: 192px;
height: 48px;
left: calc(50% - 192px/2 - 544px);
top: 4249.11px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;

color: #FFFFFF;



/* Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the. */

position: absolute;
width: 625px;
height: 48px;
left: calc(50% - 625px/2 + 325.95px);
top: 4221.49px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;

color: #FFFFFF;



/* Enter Your Name */

position: absolute;
width: 150px;
height: 36px;
left: calc(50% - 150px/2 - 346.08px);
top: 3689.67px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 36px;
/* identical to box height, or 200% */

color: #A1A0A1;



/* Your Email Address */

position: absolute;
width: 172px;
height: 36px;
left: calc(50% - 172px/2 + 99.61px);
top: 3689.67px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 36px;
/* identical to box height, or 200% */

color: #A1A0A1;



/* Subject */

position: absolute;
width: 68px;
height: 36px;
left: calc(50% - 68px/2 - 387.08px);
top: 3759.04px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 36px;
/* identical to box height, or 200% */

color: #A1A0A1;



/* How can i help you? */

position: absolute;
width: 179px;
height: 36px;
left: calc(50% - 179px/2 - 331.58px);
top: 3826.02px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 36px;
/* identical to box height, or 200% */

color: #A1A0A1;



/* Name : Solo Beat AB12HB */

position: absolute;
width: 298px;
height: 36px;
left: calc(50% - 298px/2 + 160.95px);
top: 2101.66px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;
/* identical to box height, or 150% */

color: #F4F4F4;



/* Weight : 231 g */

position: absolute;
width: 163px;
height: 36px;
left: calc(50% - 163px/2 + 93.45px);
top: 2164.66px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;
/* identical to box height, or 150% */

color: #F4F4F4;



/* Height : 72 cm */

position: absolute;
width: 170px;
height: 36px;
left: calc(50% - 170px/2 + 96.95px);
top: 2227.66px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;
/* identical to box height, or 150% */

color: #F4F4F4;



/* Available Color :  */

position: absolute;
width: 201px;
height: 36px;
left: calc(50% - 201px/2 + 112.45px);
top: 2290.66px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;
/* identical to box height, or 150% */

color: #F4F4F4;



/* Type : Wireless, Bluetooth */

position: absolute;
width: 310px;
height: 36px;
left: calc(50% - 310px/2 + 166.95px);
top: 2353.66px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;
/* identical to box height, or 150% */

color: #F4F4F4;



/* Battery Life : 2 hour */

position: absolute;
width: 226px;
height: 36px;
left: calc(50% - 226px/2 + 124.95px);
top: 2416.66px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;
/* identical to box height, or 150% */

color: #F4F4F4;



/* Battery : 100AMH */

position: absolute;
width: 200px;
height: 36px;
left: calc(50% - 200px/2 + 111.95px);
top: 2479.66px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;
/* identical to box height, or 150% */

color: #F4F4F4;



/* Dimensions : 21 x 4 x 27 cm */

position: absolute;
width: 318px;
height: 36px;
left: calc(50% - 318px/2 + 170.95px);
top: 2542.66px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;
/* identical to box height, or 150% */

color: #F4F4F4;



/* Connectors : Micro-USB ( Battery Charge ) */

position: absolute;
width: 514px;
height: 36px;
left: calc(50% - 514px/2 + 268.95px);
top: 2605.66px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;
/* identical to box height, or 150% */

color: #F4F4F4;



/* Operating Distance : 5 Meter */

position: absolute;
width: 343px;
height: 36px;
left: calc(50% - 343px/2 + 183.45px);
top: 2668.66px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;
/* identical to box height, or 150% */

color: #F4F4F4;



/* Rectangle 4 */

position: absolute;
width: 70px;
height: 896.56px;
left: 0px;
top: 0px;

background: #333333;


/* Rectangle 13 */

position: absolute;
width: 272.06px;
height: 896.56px;
left: 782.94px;
top: 0px;

background: #FFFFFF;


/* Highest qualitywireless headphone */

position: absolute;
width: 493px;
height: 144px;
left: 80.61px;
top: 240.08px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 72px;

color: #333333;



/* Exchange with your old oneand get 20% flat discount */

position: absolute;
width: 780px;
height: 168px;
left: 330px;
top: 2901.5px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 56px;
line-height: 84px;
text-align: center;

color: #333333;



/* Design and built with latest trending future technology */

position: absolute;
width: 885px;
height: 128px;
left: 80.21px;
top: 1029.21px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 64px;
/* or 133% */

color: #333333;



/* Solo Beat Specification */

position: absolute;
width: 558px;
height: 64px;
left: calc(50% - 558px/2);
top: 1945.11px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 64px;
/* identical to box height, or 133% */

color: #FFFFFF;



/* Any questions? Send us Message */

position: absolute;
width: 809px;
height: 64px;
left: calc(50% - 809px/2);
top: 3552.45px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 64px;
/* identical to box height, or 133% */

color: #FFFFFF;



/* ₹500* | Buy Now */

position: absolute;
width: 231px;
height: 42px;
left: 80.61px;
top: 602.7px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 42px;
/* identical to box height */

color: #333333;



/* Clean Beats */

position: absolute;
width: 238px;
height: 91px;
left: 87.11px;
top: 15.51px;

font-family: 'Autography';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 91px;
/* identical to box height */

color: #000000;



/* Clean Beats */

position: absolute;
width: 238px;
height: 91px;
left: 80px;
top: 4154.11px;

font-family: 'Autography';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 91px;
/* identical to box height */

color: #FFFFFF;



/* Group 3 */

position: absolute;
width: 409.8px;
height: 207.14px;
left: 80px;
top: 1215.55px;



/* Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an */

position: absolute;
width: 408.81px;
height: 101.38px;
left: 80.98px;
top: 1280.02px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;

color: #333333;



/* Learn More  */

position: absolute;
width: 94px;
height: 24px;
left: 80.98px;
top: 1398.69px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height */

color: #333333;



/* Wireless Connection */

position: absolute;
width: 252px;
height: 36px;
left: 80px;
top: 1215.55px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
/* identical to box height, or 150% */

color: #333333;



/* Systems / arrow-right-line */

position: absolute;
width: 24px;
height: 24px;
left: 174.98px;
top: 1398.69px;



/* Group */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: 16.67%;
right: 16.67%;
top: 17.59%;
bottom: 17.59%;

background: #333333;


/* Group 4 */

position: absolute;
width: 409.8px;
height: 207.14px;
left: 80px;
top: 1466.61px;



/* Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an */

position: absolute;
width: 408.81px;
height: 101.38px;
left: 80.98px;
top: 1531.08px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;

color: #333333;



/* Learn More  */

position: absolute;
width: 94px;
height: 24px;
left: 80.98px;
top: 1649.75px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height */

color: #333333;



/* High-end sound */

position: absolute;
width: 200px;
height: 36px;
left: 80px;
top: 1466.61px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
/* identical to box height, or 150% */

color: #333333;



/* Systems / arrow-right-line */

position: absolute;
width: 24px;
height: 24px;
left: 174.98px;
top: 1649.75px;



/* Group */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: 16.67%;
right: 16.67%;
top: 17.59%;
bottom: 17.59%;

background: #333333;


/* Group 2 */

position: absolute;
width: 409.8px;
height: 207.14px;
left: 515.1px;
top: 1215.55px;



/* Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an */

position: absolute;
width: 408.81px;
height: 101.38px;
left: 516.09px;
top: 1280.02px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;

color: #333333;



/* Learn More  */

position: absolute;
width: 94px;
height: 24px;
left: 516.09px;
top: 1398.69px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height */

color: #333333;



/* Qualitative Sound */

position: absolute;
width: 219px;
height: 36px;
left: 515.1px;
top: 1215.55px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
/* identical to box height, or 150% */

color: #333333;



/* Systems / arrow-right-line */

position: absolute;
width: 24px;
height: 24px;
left: 610.09px;
top: 1398.69px;



/* Group */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: 16.67%;
right: 16.67%;
top: 17.59%;
bottom: 17.59%;

background: #333333;


/* Group 5 */

position: absolute;
width: 409.8px;
height: 207.14px;
left: 515.1px;
top: 1466.61px;



/* Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an */

position: absolute;
width: 408.81px;
height: 101.38px;
left: 516.09px;
top: 1531.08px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;

color: #333333;



/* Learn More  */

position: absolute;
width: 94px;
height: 24px;
left: 516.09px;
top: 1649.75px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height */

color: #333333;



/* Bluetooth */

position: absolute;
width: 118px;
height: 36px;
left: 515.1px;
top: 1466.61px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
/* identical to box height, or 150% */

color: #333333;



/* Systems / arrow-right-line */

position: absolute;
width: 24px;
height: 24px;
left: 610.09px;
top: 1649.75px;



/* Group */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: 16.67%;
right: 16.67%;
top: 17.59%;
bottom: 17.59%;

background: #333333;


/* Group 1 */

position: absolute;
width: 409.8px;
height: 207.14px;
left: 947px;
top: 1215.55px;



/* Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an */

position: absolute;
width: 408.81px;
height: 101.38px;
left: 947.98px;
top: 1280.02px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;

color: #333333;



/* Learn More  */

position: absolute;
width: 94px;
height: 24px;
left: 947.98px;
top: 1398.69px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height */

color: #333333;



/* Beautiful and Modern Design */

position: absolute;
width: 353px;
height: 36px;
left: 947px;
top: 1215.55px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
/* identical to box height, or 150% */

color: #333333;



/* Systems / arrow-right-line */

position: absolute;
width: 24px;
height: 24px;
left: 1041.98px;
top: 1398.69px;



/* Group */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: 16.67%;
right: 16.67%;
top: 17.59%;
bottom: 17.59%;

background: #333333;


/* Group 6 */

position: absolute;
width: 409.8px;
height: 207.14px;
left: 947px;
top: 1466.61px;



/* Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an */

position: absolute;
width: 408.81px;
height: 101.38px;
left: 947.98px;
top: 1531.08px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;

color: #333333;



/* Learn More  */

position: absolute;
width: 94px;
height: 24px;
left: 947.98px;
top: 1649.75px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height */

color: #333333;



/* Waterproof & Dust Tight */

position: absolute;
width: 293px;
height: 36px;
left: 947px;
top: 1466.61px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
/* identical to box height, or 150% */

color: #333333;



/* Systems / arrow-right-line */

position: absolute;
width: 24px;
height: 24px;
left: 1041.98px;
top: 1649.75px;



/* Group */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: 16.67%;
right: 16.67%;
top: 17.59%;
bottom: 17.59%;

background: #333333;


/* Rectangle 8 */

box-sizing: border-box;

position: absolute;
width: 216px;
height: 72px;
left: 1143px;
top: 1052.52px;

border: 2px solid #333333;


/* See All Features */

position: absolute;
width: 161px;
height: 30px;
left: 1173.14px;
top: 1073.52px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;
/* identical to box height */

color: #333333;



/* Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. */

position: absolute;
width: 1064px;
height: 151.57px;
left: 188px;
top: 3098.09px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 36px;
/* or 180% */
text-align: center;

color: #333333;



/* Rectangle 10 */

position: absolute;
width: 192px;
height: 57.47px;
left: calc(50% - 192px/2);
top: 3269.98px;

background: #333333;


/* Rectangle 11 */

box-sizing: border-box;

position: absolute;
width: 188.37px;
height: 62px;
left: calc(50% - 188.37px/2 + 0px);
top: 3910.78px;

border: 1px solid #FFFFFF;


/* BUY NOW */

position: absolute;
width: 96px;
height: 30px;
left: calc(50% - 96px/2);
top: 3283.72px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;
/* identical to box height */

color: #FFFFFF;



/* Submit */

position: absolute;
width: 74px;
height: 30px;
left: calc(50% - 74px/2);
top: 3926.78px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;
/* identical to box height */

color: #FFFFFF;



/* Ellipse 1 */

box-sizing: border-box;

position: absolute;
width: 24px;
height: 24px;
left: 937px;
top: 2296.66px;

background: #A53C43;
border: 1px solid #FFFFFF;


/* Ellipse 2 */

box-sizing: border-box;

position: absolute;
width: 24px;
height: 24px;
left: 973px;
top: 2296.66px;

background: #192861;
border: 1px solid #FFFFFF;


/* Ellipse 3 */

box-sizing: border-box;

position: absolute;
width: 24px;
height: 24px;
left: 1009px;
top: 2296.66px;

background: #C58A84;
border: 1px solid #FFFFFF;


/* Ellipse 4 */

box-sizing: border-box;

position: absolute;
width: 24px;
height: 24px;
left: 1045px;
top: 2296.66px;

background: #ECC305;
border: 1px solid #FFFFFF;


/* Ellipse 5 */

box-sizing: border-box;

position: absolute;
width: 24px;
height: 24px;
left: 1081px;
top: 2296.66px;

background: #000000;
border: 1px solid #FFFFFF;


/* Ellipse 6 */

box-sizing: border-box;

position: absolute;
width: 24px;
height: 24px;
left: 1117px;
top: 2296.66px;

background: #FFFFFF;
border: 1px solid #FFFFFF;


/* Line 1 */

position: absolute;
width: 407.96px;
height: 0px;
left: 298.92px;
top: 3733.05px;

border: 1px solid #FFFFFF;


/* Line 4 */

position: absolute;
width: 408.53px;
height: 0px;
left: 733.61px;
top: 3733.05px;

border: 1px solid #FFFFFF;


/* Line 2 */

position: absolute;
width: 843.22px;
height: 0px;
left: calc(50% - 843.22px/2 + 0.53px);
top: 3801.34px;

border: 1px solid #FFFFFF;


/* Line 3 */

position: absolute;
width: 843.22px;
height: 0px;
left: calc(50% - 843.22px/2 + 0.53px);
top: 3869.93px;

border: 1px solid #FFFFFF;


/* Ellipse 7 */

position: absolute;
width: 36px;
height: 36px;
left: 733.39px;
top: 4303.32px;

background: #FFFFFF;


/* Ellipse 8 */

position: absolute;
width: 36px;
height: 36px;
left: 783.39px;
top: 4303.32px;

background: #FFFFFF;


/* Ellipse 9 */

position: absolute;
width: 36px;
height: 36px;
left: 833.39px;
top: 4303.32px;

background: #FFFFFF;


/* Ellipse 10 */

position: absolute;
width: 36px;
height: 36px;
left: 883.39px;
top: 4303.32px;

background: #FFFFFF;


/* Logos / facebook-fill */

position: absolute;
width: 24px;
height: 24px;
left: 739.39px;
top: 4309.32px;



/* Group */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: 29.17%;
right: 27.08%;
top: 8.33%;
bottom: 8.33%;

background: #333333;


/* Logos / twitter-fill */

position: absolute;
width: 24px;
height: 24px;
left: 789.39px;
top: 4309.32px;



/* Group */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: 7.41%;
right: 7.65%;
top: 15.37%;
bottom: 15.58%;

background: #333333;


/* Logos / pinterest-fill */

position: absolute;
width: 24px;
height: 24px;
left: 839.39px;
top: 4309.32px;



/* Group */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: 8.35%;
right: 8.3%;
top: 8.34%;
bottom: 8.33%;

background: #333333;


/* Logos / dribbble-line */

position: absolute;
width: 24px;
height: 24px;
left: 889.39px;
top: 4309.32px;



/* Group */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

background: #333333;


/* Follow us */

position: absolute;
width: 91px;
height: 36px;
left: 17px;
top: 551.86px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 36px;
/* identical to box height, or 180% */

color: #FFFFFF;

transform: rotate(-90deg);


/* Line 5 */

position: absolute;
width: 204.65px;
height: 0px;
left: 35px;
top: 562.75px;

border: 1px solid #FFFFFF;
transform: rotate(90deg);


/* Logos / facebook-fill */

position: absolute;
width: 24px;
height: 24px;
left: 23px;
top: 445.08px;

transform: rotate(-90deg);


/* Group */

position: absolute;
left: 0%;
right: 0%;
top: 100%;
bottom: -100%;

transform: rotate(-90deg);


/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 100%;
bottom: -100%;

transform: rotate(-90deg);


/* Vector */

position: absolute;
left: 8.33%;
right: 47.92%;
top: 70.83%;
bottom: -54.17%;

background: #FFFFFF;
transform: rotate(-90deg);


/* Logos / twitter-fill */

position: absolute;
width: 24px;
height: 24px;
left: 23px;
top: 411.08px;

transform: rotate(-90deg);


/* Group */

position: absolute;
left: 0%;
right: 0%;
top: 100%;
bottom: -100%;

transform: rotate(-90deg);


/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 100%;
bottom: -100%;

transform: rotate(-90deg);


/* Vector */

position: absolute;
left: 15.37%;
right: -0.3%;
top: 92.59%;
bottom: -61.64%;

background: #FFFFFF;
transform: rotate(-90deg);


/* Logos / pinterest-fill */

position: absolute;
width: 24px;
height: 24px;
left: 23px;
top: 377.08px;

transform: rotate(-90deg);


/* Group */

position: absolute;
left: 0%;
right: 0%;
top: 100%;
bottom: -100%;

transform: rotate(-90deg);


/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 100%;
bottom: -100%;

transform: rotate(-90deg);


/* Vector */

position: absolute;
left: 8.34%;
right: 8.32%;
top: 91.65%;
bottom: -74.99%;

background: #FFFFFF;
transform: rotate(-90deg);


/* Logos / instagram-fill */

position: absolute;
width: 24px;
height: 24px;
left: 23px;
top: 343.08px;

transform: rotate(-90deg);


/* Group */

position: absolute;
left: 0%;
right: 0%;
top: 100%;
bottom: -100%;

transform: rotate(-90deg);


/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 100%;
bottom: -100%;

transform: rotate(-90deg);


/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 91.67%;
bottom: -75%;

background: #FFFFFF;
transform: rotate(-90deg);


/* Logos / linkedin-box-fill */

position: absolute;
width: 24px;
height: 24px;
left: 23px;
top: 309.08px;

transform: rotate(-90deg);


/* Group */

position: absolute;
left: 0%;
right: 0%;
top: 100%;
bottom: -100%;

transform: rotate(-90deg);


/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 100%;
bottom: -100%;

transform: rotate(-90deg);


/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 87.5%;
bottom: -62.5%;

background: #FFFFFF;
transform: rotate(-90deg);


/* headphone 1 */

position: absolute;
width: 564px;
height: 544px;
left: 722.9px;
top: 149.08px;

background: url(headphone.png);


/* specification 1 */

position: absolute;
width: 534px;
height: 363px;
left: 74.89px;
top: 2190.66px;

background: url(specification.png);


/* bar 1 */

position: absolute;
width: 48px;
height: 11px;
left: 1286.9px;
top: 46.9px;

background: url(bar.png);
